<div class="container">
  <!-- <div class="row mt-5">
    <h2 [ngClass]="products.length > 0 ? 'style2' : 'style1'">
      No data available
    </h2>
  </div> -->
  <div class="row">
    <div class="form-check form-check-inline mt-5">
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="1"
        (change)="filterProducts($event.target.value)"
        [checked]="optionSelected == 'greater'"
      />
      <label class="form-check-label" for="inlineRadio1"
        >greater than 40K</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="2"
        (change)="filterProducts($event.target.value)"
        [checked]="optionSelected == 'lesser'"
      />
      <label class="form-check-label" for="inlineRadio2">Less than 20K</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="all"
        (change)="filterProducts($event.target.value)"
        [checked]="optionSelected == 'ALL'"
      />
      <label class="form-check-label" for="inlineRadio2">ALL</label>
    </div>

    <table class="table mt-4">
      <!-- *ngIf="products.length > 0" -->
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Product quantity</th>
        </tr>
      </thead>
      <tr class="text-center" *ngIf="products.length == 0">
        <td colspan="4">No data available</td>
      </tr>
      <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products; let i = index">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ product.product }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
