@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.style-nav-heading {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}

.card-style {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}


.req {
  font-size: 90%;
  font-style: italic;
  color: red;
}